.addTaskForm {
  @apply flex w-full justify-center items-center flex-wrap gap-4;
}
.addTaskInputGroup {
  @apply grid grid-cols-3;
}
.addTaskBtn {
  @apply flex items-center justify-center gap-2;
}

@media only screen and (max-width: 600px) {
  .addTaskForm {
    @apply flex-col mt-7 p-2;
    border: 1px solid red;
  }
  .addTaskInputGroup {
    @apply flex flex-col gap-3;
  }
  .addTaskBtn {
    @apply w-full mt-2;
  }
  .addTaskBtn::before {
    content: "Add Task";
    font-size: 2rem;
  }
}
