.projectDetails {
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.projectDetails::-webkit-scrollbar {
  display: none;
}

.projectDetailsContainer {
  width: 100%;
  background-color: var(--body-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
  max-height: fit-content;
}

.projectDetailsContainer p,
.projectDetailsContainer h1 {
  word-wrap: break-word; /* Break long words and wrap */
  overflow-wrap: break-word; /* Ensure long text wraps within the container */
  word-break: break-word; /* Ensure that even unbreakable text is broken */
  width: 100%; /* Ensures the elements take full width and wrap accordingly */
  text-align: center; /* Optional: Aligns the text to the center */
}
