.projectLinkDiv {
  min-width: 100%;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border: 1px solid var(--linkbtn-bg-active);
  border-radius: 30px;
  box-shadow: 2px 2px 2px var(--linkbtn-bg-active);
}
.projectLink {
  background-color: var(--linkbtn-bg);
  color: var(--linkbtn-color);
  width: 100%; /* Full width of the container */
  padding: 1rem; /* Space between links */
  text-align: center; /* Center the text inside the link */
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all 200ms;
  position: relative;
}
.projectLinkExtraText {
  font-size: 0.8rem;
  font-weight: 300;
  position: absolute;
  right: 5%;
  bottom: 1%;
  color: var(--primary-color);
}
.projectLinkPending {
  background-color: var(--linkbtn-bg-pending);
  color: var(--linkbtn-color-pending);
}
.projectLinkActive {
  background-color: var(--linkbtn-bg-active);
  color: var(--linkbtn-color-active);
}

.projectDeleteBtn {
  color: rgb(180, 1, 1);
  margin-top: 0;
  border-radius: 0 20px 20px 0;
  font-size: 1rem;
  margin-top: 0;
  border: none;
  outline: none;
}
.projectDeleteBtn:focus {
  background: transparent;
  border: none;
  outline: none;
}
.projectDeleteBtn:active {
  background: transparent;
  border: none;
  outline: none;
}
